:host {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  display: flex;
  gap: var(--ui-gap-m);
  box-sizing: border-box;
  padding-inline: var(--ui-padding-m);
  block-size: var(--app-header-height);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(1.25rem);
  box-shadow: var(--ui-shadow-m);
  width: 100%;
  z-index: 10;
}

.logo {
  color: var(--app-logo-color);
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}
