@use "shared/styles/index";

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  font-family: var(--ui-font-family), sans-serif;
  font-size: var(--ui-font-size-m);
  color: var(--ui-text-color-base);
}
