.app-btn {
  appearance: none;
  padding: 0;
  background: none;
  line-height: inherit;
  text-decoration: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  max-inline-size: 100%;
  cursor: pointer;
  border-radius: var(--ui-border-radius-xs);
  border: solid 1px transparent;

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }

  &[data-size='s'] {
    font-size: var(--ui-font-size-s);
    padding: var(--ui-padding-s) var(--ui-padding-m);
  }

  &[data-size='m'] {
    font-size: var(--ui-font-size-m);
    padding: var(--ui-padding-s) var(--ui-padding-m);
  }

  &[data-appearance='ghost'] {
    border-color: var(--ui-border-base);

    &:hover {
      background-color: var(--ui-gray-hover);
    }
  }

  &[data-appearance='primary'] {
    color: var(--ui-white);
    background-color: var(--ui-blue);
    border-color: var(--ui-border-base);

    &:hover {
      background-color: var(--ui-blue-hover);
    }
  }

  &[data-appearance='icon'] {
    justify-content: center;
    padding: 0;
    background: var(--ui-background-base);
    border-color: var(--ui-border-base);
    height: var(--ui-size-l);
    width: var(--ui-size-l);

    &:hover {
      background-color: var(--ui-gray-hover);
    }
  }
}
